<h2>Eventos</h2>
<hr>

<div class="form-inline">
    <div class="form-group mb-2">
        <input 
        type="text" 
        class="form-control mr-2" 
        placeholder="Buscar"
        [(ngModel)]="listFilter">
        <button class="btn btn-outline-success">Buscar</button>
    </div>
</div>
<h3>Filtro: {{listFilter}}</h3>
<table class="table table-stripped">
    <thead class="thead thead-dark">
        <tr>
            <th>#</th>
            <th>
                <button class="btn btn-outline-light btn-sm" (click)="alterarImagem()">
                    {{isToggled ? "Ocultar" : "Mostrar"}}
                </button>
            </th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qtd Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
        <tr *ngFor="let evento of filteredEvents">
            <td>{{evento.eventoId}}</td>
            <td>
                <img [collapse]="isToggled"
                    [isAnimated]="true"
                    src="/assets/{{evento.imagemURL}}" 
                    [style.width.px]="150"
                >
            </td>
            <td>{{evento.tema}}</td>
            <td>{{evento.local}}</td>
            <td>{{evento.dataEvento}}</td>
            <td>{{evento.qtdPessoas}}</td>
            <td>{{evento.lote}}</td>
            <td>
                <button class="btn btn-primary btn-sm mr-2">Editar</button>
                <button class="btn btn-danger btn-sm">Excluir</button>
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
        <tr>
            <td colspan="8" class="text-center">
                <h4>Nenhum Evento encontrado!</h4>
            </td>
        </tr>
    </tfoot>
</table>

