<div class="card">
    <form [formGroup]="perfilForm">
        <div class="row p-3">
            <div class="col-lg-3 pt-1">
                <div class="card mb-3">
                    <div class="card-header"></div>
                    <div class="d-flex align-self-center pt-3">
                        <a>
                            <img
                            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                            name="aboutme" width="120" height="120" class="rounded-circle">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="h4 text-center mb-3">UserName</div>
                        <div class="h7 text-bold pb-1"><b>Nome:</b> Miracles Lee Cross</div>
                        <div class="h7">
                            Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
                            etc.
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6 text-center border-right">
                                    <div class="h5">1342</div>
                                    <div class="h6 text-muted">Eventos Ministrados</div>
                                </div>
                                <div class="col-6 text-center">
                                    <div class="h5">1342</div>
                                    <div class="h6 text-muted">Eventos Participados</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="form-row">
                    <div class="form-group col-12">
                        <h3 class="border-bottom">Detalhe Perfil</h3>
                    </div>
                    <div class="form-group col">
                        <label>Título</label>
                        <select class="form-control" [ngClass]="{'is-invalid': perfilForm.get('titulo')?.errors && perfilForm.get('titulo')?.touched}" formControlName="titulo">
                            <option value="0">Não Quero</option>
                            <option value="Senhorita">Tecnólogo(a)</option>
                            <option value="Senhorita">Bacharel</option>
                            <option value="Senhorita">Especialista</option>
                            <option value="Senhorita">Pós Graduado(a)</option>
                            <option value="Senhorita">Mestre</option>
                            <option value="Senhorita">Doutor(a)</option>
                            <option value="Senhorita">Pós Doc</option>
                        </select>
                        <div *ngIf="perfilForm.get('titulo')?.hasError('required')" class="invalid-feedback">Título é obrigatório</div>
                    </div>
                    <div class="form-group col-sm-5">
                        <label>Primeiro Nome</label>
                        <input  [ngClass]="{'is-invalid': perfilForm.get('nome')?.errors && perfilForm.get('nome')?.touched}" formControlName="nome" type="text" class="form-control"/>
                        <div *ngIf="perfilForm.get('nome')?.hasError('required')" class="invalid-feedback">Primeiro Nome é obrigatório</div>
                        <div *ngIf="perfilForm.get('nome')?.hasError('minlength')" class="invalid-feedback">Quantidade minima de caracteres é 6</div>
                        <div *ngIf="perfilForm.get('nome')?.hasError('maxlength')" class="invalid-feedback">Quantidade maxima de caracteres é 6</div>
                    </div>
                    <div class="form-group col-sm-5">
                        <label>Último nome</label>
                        <input  [ngClass]="{'is-invalid': perfilForm.get('ultimoNome')?.errors && perfilForm.get('ultimoNome')?.touched}" formControlName="ultimoNome" type="text" class="form-control"/>
                        <div *ngIf="perfilForm.get('ultimoNome')?.hasError('required')" class="invalid-feedback">Último Nome é obrigatório</div>
                        <div *ngIf="perfilForm.get('ultimoNome')?.hasError('minlength')" class="invalid-feedback">Quantidade minima de caracteres é 6</div>
                        <div *ngIf="perfilForm.get('ultimoNome')?.hasError('maxlength')" class="invalid-feedback">Quantidade maxima de caracteres é 6</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-5">
                        <label>E-mail</label>
                        <input  [ngClass]="{'is-invalid': perfilForm.get('email')?.errors && perfilForm.get('email')?.touched}" formControlName="email" type="text" class="form-control" />
                        <div *ngIf="perfilForm.get('email')?.hasError('required')" class="invalid-feedback">E-mail é obrigatório</div>
                        <div *ngIf="perfilForm.get('email')?.hasError('pattern')" class="invalid-feedback">Campo preenchido incorretamente</div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Telefone</label>
                        <input  [ngClass]="{'is-invalid': perfilForm.get('telefone')?.errors && perfilForm.get('telefone')?.touched}" formControlName="telefone" type="text" class="form-control" />
                        <div *ngIf="perfilForm.get('telefone')?.hasError('required')" class="invalid-feedback">Telefone é obrigatório</div>
                    </div>
                    <div class="form-group col-sm">
                        <label>Função</label>
                        <select [ngClass]="{'is-invalid': perfilForm.get('funcao')?.errors && perfilForm.get('funcao')?.touched}" formControlName="funcao"  class="form-control">
                            <option value="Participante">Participante</option>
                            <option value="Palestrante">Palestrante</option>
                        </select>
                        <div *ngIf="perfilForm.get('funcao')?.hasError('required')" class="invalid-feedback">Função é obrigatório</div>
                    </div>
                    <form class="form-group col-12">
                        <label>Descrição</label>
                        <input type="text" class="form-control" />
                    </form>
                </div>
                <div>
                    <h3 class="pt-3 border-bottom">Mudar Senha</h3>
                    <p>Caso mude de senha, preencha os campos abaixo:</p>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm">
                        <label>Senha</label>
                        <input  [ngClass]="{'is-invalid': perfilForm.get('senha')?.errors && perfilForm.get('senha')?.touched}" formControlName="senha" type="password" class="form-control" />
                        <div *ngIf="perfilForm.get('senha')?.hasError('required')" class="invalid-feedback">Senha é obrigatório</div>
                        <div *ngIf="perfilForm.get('senha')?.hasError('minlength')" class="invalid-feedback">Quantidade minima de caracteres é 6</div>
                        <div *ngIf="perfilForm.get('senha')?.hasError('mustMatch')" class="invalid-feedback">As senhas devem ser iguais</div>
                    </div>
                    <div class="form-group col-sm">
                        <label>Confirmar Senha</label>
                        <input  [ngClass]="{'is-invalid': perfilForm.get('confirmaSenha')?.errors && perfilForm.get('confirmaSenha')?.touched}" formControlName="confirmaSenha" type="password" class="form-control" />
                        <div *ngIf="perfilForm.get('confirmaSenha')?.hasError('required')" class="invalid-feedback">Confirmar é obrigatório</div>
                        <div *ngIf="perfilForm.get('confirmaSenha')?.hasError('minlength')" class="invalid-feedback">Quantidade minima de caracteres é 6</div>
                        <div *ngIf="perfilForm.get('confirmaSenha')?.hasError('mustMatch')" class="invalid-feedback">As senhas devem ser iguais</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex">
                <button class="btn btn-outline-secondary mr-auto border">
                    Cancelar Alteração
                </button>
                <button class="btn btn-success">
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                    Salvar Alteração
                </button>
            </div>
        </div>
    </form>
</div>